.features {
  list-style: none;
  background-color: #3c4a49;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  margin: 3rem 0 0;
  color: #fff;
}
.features-list {
  display: flex;
  align-items: center;
}
.features-list h5 {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.features-list img {
  margin-right: 0.5rem;
}

/* -------------------------------------------------------------------------- */
/*                              SHORT MEDIA QUERY                             */
/* -------------------------------------------------------------------------- */
@media (max-width: 668px) {
  .features {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 2rem 1rem;
    margin: 3rem 0 0;
  }
  .features-list {
    display: flex;
    align-items: center;
    width: 250px;
    margin: 0;
    padding: 0;
  }

  .features-list:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
